@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root{
  /* Primary Colors*/
  --black: #141414;
  --white: #ffffff;
  --dark-cyan:rgba(0, 255, 206, 1);
}

body.wn-body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: var(--black);
  color: var(--white);
  padding: 0;
  margin: 0;
}
.wn-body h1,.wn-body h2,.wn-body h3,.wn-body h4{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: bolder;
  color: var(--dark-cyan);
}
.wn-body img {
  max-width: 100%;
}
.img-div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}
.img-div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.wn-body .btn{
  font-size: 18px;
  transition: .2s;
}


/* header */
.mar-l{
  margin-left:  auto !important;
}
.ab-header a.pg-lk{
  color: white;
  font-size: 20px;
  padding: 0 !important;
  position: relative;
  display: inline-block;

}

.ab-header a.pg-lk span{
  content : "";
  position : absolute;
  width : 0%;
  height : 2px;
  background-color:var(--dark-cyan);
  bottom: -2px;
  /* left: auto;
  right:auto; */
  margin: auto;
  display: block;

}
.ab-header a.pg-lk:hover span{
    transform: scale(1.1);
    transition: .5s;
    width: 88%;
    left:0px;
    right:0px;
    bottom:-2px;
}


nav.ab-header.navbar.navbar-expand-lg.navbar-light{
  padding: 45px 0;
}
.ab-header .head-butns.navbar-nav{
  display: flex;
  flex-direction: row;
}
 .wn-body .ab-header .navbar-nav {
  flex-direction: row;
  gap: 36px;
}
.ab-header div#responsive-navbar-nav{
  gap: 36px;
}
.ab-header .btn{
  color: var(--dark-cyan);
  min-width: 150px;
  border: 1px solid var(--dark-cyan);
  border-radius: 25px;
}
.ab-header .btn:hover{
  color: var(--black);
  background-color: var(--dark-cyan);
}


/* =====Media Query===== */

@media (min-width: 1400px){
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 1368px !important;
  margin: 0 auto !important;
  padding: 0 !important;
}
.navbar-expand-lg .container-fluid {
  padding: unset;
}

}



