@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root{
  /* Primary Colors*/
  --black: #000;
  --white: #ffffff;
  --neon:rgba(0, 255, 206, 1);
  --primary-font:'Space Grotesk', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}
body.wn-body{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: var(--black);
  color: var(--white);
  /* color: black;   */
  padding: 0;
  margin: 0;
}
.wn-body h1,.wn-body h2,.wn-body h3,.wn-body h4{
  
  font-weight: bold;
 
}
.wn-body h1{
  font-size: 60px;
}
.wn-body .btn{
  font-size: 18px;
  transition: .2s;
}

.btn-div{
display: flex;
gap: 35px;
}
.wn-body .btn-fill {
  border-radius: 25px;
  background: var(--neon);
  color: var(--black) ;
  padding: 11px 22px;
  width: max-content;
  border: none;
  min-width: 150px;
  font-weight: 500;
}
.wn-body .btn-emp{
  color: var(--neon);
  min-width: 150px;
  border: 1px solid var(--neon);
  border-radius: 25px;
  background-color: unset;
  font-weight: 500;
  width: max-content;
  padding: 9px 22px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.wn-body .btn.btn-emp:hover,
.wn-body .btn.btn-emp:active
{
  color: var(--black);
  background-color: var(--neon);
  border:1px solid var(--neon);
  box-shadow: none !important;
}
.wn-body .btn-emp svg{
margin-left: 15px;
}


.wn-body a{
  transition: .2s;
  text-decoration: none;
}
.wn-body section {
  margin: 150px 0 0 0;
}
.img-div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.img-div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-div.id-icon {
  width: 148px;
  height: 148px;
  background-color: #000;
  border-radius: 50%;
  margin: 15px 0 30px 0;
}

.wn-body .main-title{
  font-size: 60px;
  font-weight: 900;
  color: var(--neon);
  font-family: var(--primary-font);
}
.wn-body .sec-title{
  font-size: 42px;
  color: var(--neon);
  font-family: var(--primary-font);
  padding-bottom: 40px;
}
.wn-body .sec-para-title {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 6px;
}
.wn-body .p-sz-tw{
  font-size: 20px;
}
.wn-body p{
  font-size: 18px;
}
.wn-body .border-div{
  border: 2px solid var(--neon);
  border-radius: 15px;
}
/* ======Header====== */
.wn-body .navbar {
  background-color: #000 !important;
  margin-top: 20px;
}
ul.navbar-nav.header-menu{
  gap: 36px;
  margin: 0 auto;
}

.navbar-nav.header-menu .nav-item{
  padding: 25px 0;
}
.wn-body .navbar .nav-link {
  color: #fff;
  padding: 0px !important;
  font-size: 20px;
  display: inline-block;
  position: relative;
  font-weight: 500;
}
.wn-body .navbar .nav-link span{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--neon);
  transition: .3s;
}
.wn-body .navbar .nav-item:hover span{
  width: 100%;
}
.header-butns{
  display: flex;
  flex-direction: row;
  gap: 36px;
}
.profilemain {
  position: absolute;
  top: 50px;
  box-shadow: var(--neon) 0px 0px 17px 0px;
  background: #000000 0% 0% no-repeat padding-box;
  border: 1px solid #00FFCE;
  right: 0;
  padding: 15px 45px 10px 22px;
  display: none;
  width: 242px;
  border-radius: 20px;
}
.ln-user {
  position: relative;
}
.ln-user:hover > .profilemain {
  display: block;
}
.usermain {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1.5px solid #ffffff4d;
  padding-bottom: 10px;
}
.usernamecontent p {
  margin: 0;
}
.usermain .user-name{
  font-size: 20px;
  font-weight: 600;
  color: var(--neon);
}
  .profile-ul{
  list-style: none;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.profilemain .profile-ul > li a{
  color: var(--neon) !important;
  font-size: 18px;
}
/* ====megamenu */
.wn-body .mega-dropdown {
  padding: 10px ;
  left: -237px;
  z-index: 9999;
  width: 950px;
  background: transparent;
  border-radius: unset;
  border-top: 1px solid#3a8e7e ;
  border-bottom: 1px solid#3a8e7e ;
  padding: 18px 0;
  margin-top: 25PX;

}
.mmenu-opt{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto 0 auto;
  max-width: 860px;
  padding-left: 0;
}
.mmenu-opt li{
  color: var(--neon);
  font-size: 18px;
  font-weight: 300;
  position: relative;
  transition: .3s;
}
.mmenu-opt li:hover{
  font-weight: 500;
}
.mmenu-ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -17px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--neon);
  width: 0;
  height: 55%;
}
/* ======modal======= */


.intr-p{
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}
.intr-p span{
  font-weight: bold;
  text-decoration: underline;
}
.wn-body .mdl-title{
  color: white;
  font-size: 32px;
  font-weight: bold;
  font-family: var(--secondary-font);
  margin-bottom: 45px;
}
.md-cnt .sub-txt {
  font-size: 20px;
  max-width: 30ch;
  margin: 0 auto;
  font-weight: 400;
}
.mdl-butns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0;
  align-items: center;
}
.wn-body .lg-butns .btn.btn-fill,
.wn-body .lg-butns .btn.btn-emp{
  min-width: 270px;
  font-size: 20px;
}
.wn-body .mdl-butns .btn:active{
  background-color: var(--neon);
  color: var(--black);
}
.wn-body .mdl-butns span{
  color: var(--neon);
  font-weight: 300;
}
.md-cnt .tos-txt{
  font-size: 16px;
  font-weight: 300;
  
}
.md-cnt .tos-txt .main-span{
  font-size: 14px;
  display: block;
  font-weight: bold;
}
.main-span span{
  text-decoration:underline ;
  
}
.main-span span a{
  color: var(--white);
}
.md-cnt input[type=email],
.md-cnt input[type=text]{
  background-color: var(--black);
  border-radius: 50px;
  min-width: 370px;
  padding: 17px 30px;
  color: var(--white);
  margin-top: 40px;
  border: 1px solid var(--neon);
  
}

.sign-up-ip input[type=email],
.sign-up-ip input[type=text]{
  margin-top: 10px;
}


.md-cnt input[type=email]:focus-visible,
.md-cnt input[type=text]:focus-visible {
  outline: none;
}


/*==== Home Banner==== */

.main-title span{
  display: block;
}
.home-banner .sec-p{
  max-width: 58ch;
}
.home-banner{
  margin-top: 50px;
}

/* === Home services=== */
.home-services .side-content{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home-services .side-content .btn-div{
  margin-top: auto;
}
.home-services .sec-sub-title{
 margin-bottom: 0px;
}


.home-services  .service-div {
  padding: 70px 0;
 
}
.service-div:not(:last-child){
  border-bottom: 3px solid #201E21;
}

/* ======bug==== */
.home-bug .sec-title{
  padding-bottom: 60px;
}
.home-bug .bug-num{
  font-size: 42px;
  font-weight: 900;
  margin: 5px 0;
}


/* ===blog=== */
.carousal-cnt{
  max-width: 47ch;
  margin-top: 36px;
}
.owl-choose{
  padding-top: 80px;
}




/* ======Footer====== */

.foot-subscribe{
  margin: 150px 0 50px 0;
  border-radius: 10px;
  background-color: var(--neon);
  overflow: hidden;
  padding:55px 40px;
  color: var(--black);
}
.foot-subscribe .subs-cont{
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.foot-subscribe .nsubs-txt{
  max-width: 47ch;
  font-size: 18px ;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0;
}
.foot-subscribe .nsub-head{
  font-family: var(--secondary-font);
  color: #333333;
  font-size: 28px;
  font-weight: 900;
}
.foot-links ul {
  display: flex;
  list-style: none;
  /* gap: 60px; */
  justify-content: space-between;
  margin: 40px auto 40px auto;
  max-width: 935px;
  flex-wrap: wrap;
}

.submaildiv input[type=email] {
  background-color: #232631;
  border-radius: 10px;
  width: 100%;
  padding: 23px 30px;
  color: var(--white);
  border: none;
  outline: none ;
}

.subs-form button.btn.btn-fill.btn-outline{
  background-color: #232631;
  border-radius: 10px;
  padding: 23px 30px;
  font-size: 16px;
  color: var(--neon);
  font-weight: 400;
  min-width: 184px;

}
.foot-subscribe form.btn-div.subs-form {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  height: 100%;
}
.submaildiv{
  position: relative;
  width: 100%;
}
.mailalert-txt {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  text-align: center;
  bottom: -28px;
  color: red;
}
.main-foot{
  text-align: center;
  margin-top: 100px;
}
.foot-links ul li{
  font-size: 18px;
  font-weight: 500;
  position: relative;
  padding: 2px 0;
}
.foot-links ul li:not(:last-child)::after{
  content: "";
  position: absolute;
  right: -41px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--neon);
  width: 0;
  height: 100%;
}
.foot-links ul li a{
  color: var(--neon);
}
.foot-social{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom:50px;
}
.wn-body .foot-social .fs-title{
  font-size: 18px;
  font-weight: 400;
}
.foot-btm {
  color: var(--neon);
  text-align: center;
   font-size: 14px;
   padding: 5px 0 15px 0;
   border-top: 2px solid #201E21;
}
.r-img{
  display: flex;
    justify-content: flex-end;
}
 /* (newsletter mod) */
 .nl-mod-div{
  text-align: center;
  padding: 40px;
  color: var(--neon);
  margin: 50px 0 ;
 }
 .subs-ip-section{
  position: relative;
 }
.nl-mod-div .subs-form{
  justify-content:center;
}
.subs-ip-section .main-ip{
  background: transparent;
  border: none;
  padding: 18px 10px;
  color: white;
  outline: none;
  
}
.nl-mod-div .img-div{
  padding: 20px 0 38px 0;
}
.nl-mod-div .nl-sub-btn{
  padding: 14px 9px;
  background: var(--neon);
  border-radius: 10px;
  border: none;
  font-weight: bold;
  
}
.main-form-div{
  border: 2px solid #0b8e7a;
  border-radius: 15px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  max-width: 635px;
  margin: auto;
  justify-content: space-between;
}
/* ====choose==== */
.hovr-choose .hovr-head{
  margin-bottom: 0px;
}
.hovr-choose .new-paragraph{
  max-width: 52ch;
  transition: .5s;
}
.hovr-choose{
  display: flex;
  gap:35px;
  padding: 30px;
  align-items: center;
  transition: .3s;
  border-radius: 10px;
}

.hovr-choose .hvr-cnty {
 display: none;
  transition: .5s;
}

.hovr-choose:hover{
background-color: #201E21;
align-items: flex-start;
}
.hovr-choose:hover .hovr-head{
  display: none;
}
.hovr-choose:hover .hvr-cnty{
 display: block;
}


/* ========More details============= */
.main-title-mod{
  font-weight: 500;
  font-family: var(--primary-font);
  color: var(--neon);
}
.t-center{
  text-align: center;
}
.wn-body .md-sub-head{
  font-size: 20px;
  color: var(--neon);
}
.more-details .md-cnt input[type=text]{
 min-width: 440px;
 border: 2px solid var(--neon);
 
}
.main-emailflow-div  input[type=text]{
  margin: 80px 0 0 0;
}


.tele-email {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 15px;
}
.wn-body .tele-email-qusn{
  font-size: 24px;
  font-weight: 600;
margin-top: 50px;
}
.tele-email-qusn span{
  color: red;
  margin-left: 5px;
}

.opts{
  display: flex;
  gap: 15px;
  justify-content: center;
  font-size: 24px;
  align-items: center;

}
.opts span{
 padding: 0px 10px;
  border: 2px solid var(--neon);
  border-radius:5px;
  height: 24px;
}


.align-lg-butns{
  justify-content:center;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;

}

.vari-p {
  font-size: 20px;
  font-weight: 500;
}
.vari-p .user-mail{
  color: var(--neon);
  text-decoration: underline;
}
.main-vari-p{
  display: flex;
  flex-direction: column;
  gap: 45px;
}
/* ===========telegram flow========== */
.main-teleflow-div{
  text-align: center;
}
.main-step-div {
  width: 100%;
  max-width: 757px;
  margin: 0 auto;
}
.line {
  display: flex;
  align-items: center;
  margin: 55px 8px 3px 12px;
}
.line span {
  border-bottom: 1px solid gray;
  width: calc(50% - 20px);
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  flex: 0 0 10px;
  background-color: pink;
  transition: background-color 0.3s ease;
}

.completed {
  background-color:var(--neon);
}

.step-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.wn-body .step-text {
  font-size: 14px;
  color: pink;
  transition: color 0.3s ease;
}

.step-text.completed {
  color:var(--neon);
  background: transparent;
}

.step-color{
  color: none;
}
.wn-body .teleflow-fs {
  font-size: 25px;
}
.link-text {
  color: #0d6efd;
}
.wn-body .text-underline{
  text-decoration: underline;
  cursor:pointer
}
.resend-div
{
  font-size: 18px;
  margin-top: 35px;
}

.code-input-div > input {
  min-width: unset !important;
  width: 55px;
  height: 55px;
  border-radius: 10px !important;
  flex: 0 0 40px;
  padding: 0 0 0 21px !important;
  border: 2px solid #0b8e7a !important;
}
.code-input-div {
  display: flex;
  justify-content: center;
  gap: 10px;
}





/* mobile menu */
.wn-body .navbar-toggler-icon {
  background: unset;
  color: var(--neon);
}
.mobile-menu {
  position: fixed;
  top: 10px;
  right: 0;
  width: calc(100% - 20px);
  background: #201E21;
  color: var(--neon);
  transition: .3s;
  z-index: 9;
  overflow: auto;
  border: 2px solid var(--neon);
  border-radius: 20px 0 0 20px;
  transform: translateX(100%);
  max-height: 100%;
  min-height: 600px;
}
.wn-body .mobile-menu .nav-link {
  color: var(--white);
  font-weight: 500;
}
.mobile-menu-close svg {
  width: 40px;
  height: 30px;
}
.logo-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.wn-body .mobile-menu .navbar-nav .nav-link{
  font-size: 20px;
  font-weight: bold;
  padding: 18px 15px !important; 
  position: relative;
  width: 100%;
}
.wn-body .mobile-menu .btn-div .btn{
  min-width: 180px;
}
.mobile-menu .navbar-nav .accordion-item .nav-item{
  list-style: none;
  padding-left: unset;
}
.mobile-menu .navbar-nav .accordion-item .nav-link{
  padding: 30px 0 0 0 !important;
}
/* .mobile-menu .navbar-nav .nav-link::after {

} */
.mobile-menu .navbar-nav .accordion-item .nav-link::after{
  content: none;
}
.wn-body .faq.mobile-menu .accordion-item {
  border: none;
  border-radius: unset;
  background-color: transparent;
  box-shadow: unset;
  margin-bottom: 0px;
  color: #fff;
}
.wn-body .faq.mobile-menu .accordion-button .acc-icn {
  width: 20px;
  height: 20px;
  transform: translateY(-100%);
  right: 10px;
  top: -5px;
  font-size: unset;
}
.wn-body .faq.mobile-menu .accordion-button {
  color: var(--white);
  font-size: 20px;
  padding: unset;
}
.wn-body .faq.mobile-menu .accordion-body{
  padding: 0;

}
.mobile-menu .navbar-nav .accordion-body ul{
  padding-left: unset;
  list-style: none;
}
.mobile-menu .navbar-nav .accordion-body ul .nav-item .nav-link{
  color: var(--white);
  font-size: 20px;  
  padding: unset;
}
.mob-hv-tab-cont {
  display: flex;
  gap: 50px;
  padding-left: 20px;
  padding-bottom: 40px;
}
.mob-hv-tab-cont > .nav-link:first-child {
  flex: 0 0 130px;
}
.mobile-menu .btn-div {
  padding: 25px 0;
  justify-content: center;
}
.wn-body .faq.mobile-menu .accordion-item .mm-link{
  color: white;
}

/* faq */
.wn-body .faq .accordion-item {
  border: none;
  border-radius: 30px !important;
  background-color: var(--white-smoke);
  box-shadow: 0px 2px 6px 0px #73737380 inset;
  margin-bottom: 10px;
}
.wn-body .faq .accordion-button {
  background-color: transparent;
  color: var(--dark-cyan);
  font-weight: bolder;
  font-size: 23px;
  letter-spacing: .9px;
  position: relative;
  padding: 1.5em 3em 1.5em 1.8em;
  transition: .3s;
}
.wn-body .faq .accordion-button .acc-icn {
  position: absolute;
  right: 60px;
  top: 50px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wn-body .faq .accordion-button .acc-icn > svg {
  position: absolute;
}
.wn-body .faq .accordion-button:focus {
  box-shadow: unset;
}
.wn-body .faq .accordion-button:not(.collapsed){
  box-shadow: unset;
  padding-bottom: .75em;
}

.wn-body .faq .accordion-button::after {
  display: none;
}
.wn-body .faq .accordion-body {
  padding-top: unset;
  font-size: 22px;
  padding-right: 280px;
  padding-bottom: 50px;
  padding-left: 35px;
  line-height: 1.25;
}
/* .wn-body .faq .accordion-button .faq-mns {
  transition: rotate .3s;
  rotate: 0deg;
}
.wn-body .faq .accordion-button.collapsed .faq-mns {
  rotate: 270deg;
} */


/* =========contact us========= */

.cu-form {
  max-width: 835px;
  display: flex;
  flex-direction: column;
  color: var(--neon);
  margin: auto;
  gap: 45px;
  background-color: transparent;
}

.cu-form label{
  color: white;
  font-size: 18px;
  letter-spacing: 0.7px;
}
/* .cu-form label, .cu-form input::placeholder {
  color: white;
  font-weight: 400;
  font-size: 18px;
} */
.cu-form input, .cu-form select, .cu-form textarea {
  border: 2px solid #07F6D1;;
  background-color:transparent;
  padding: 0.9rem 0.75rem;
  color: whitesmoke;
  border-radius: 15px;
  outline: none;
}

.cu-form .fl-name {
  display: flex;
  gap: 15px;
}
.cu-form .fl-name > div {
  flex: 1;
}
.cu-form .btn {
  margin: 18px auto auto auto;
  min-width: 205px;
  padding: 12px 0;
  border-radius: 28px;
  font-size: 20px ;
}

.cu-form .form-head{
  text-align: center;
  font-weight: 500;
}

.cu-form input:focus, .cu-form select:focus,.cu-form textarea:focus {
  border: 2px solid #07F6D1;
  background: transparent;
  color: white;
  box-shadow: none;
}


/* =========settings======== */

.ip-btn{
  display: flex;
  align-items: flex-end;
  gap: 10px;
}
.ip-btn .btn-div .btn-emp{
  min-width: 114px;
  border-radius: 10px;
  padding: 16px 0;
}
.form-grp{
  width: 100%;
}
.settings .cu-form {
  padding: 50px 50px 75px 50px;
}
.settings .cu-form .form-head
{
  font-family: var(--primary-font);
}

@media (min-width: 1360px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  max-width: 1388px;
  }
}


/* =========================DASHBOARD====================================== */
.main-tab-div {
  background-color: #201E21;
  border-radius: 20px;
  padding: 45px;
  overflow: hidden;
  height: calc(100vh - 200px);
}
.main-tab-div > .row{
  height: 100%;
}
.tabs-butns{
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  height: 100%;
}
.dash-logout {
  margin-top: 100%;
}
.vertical-tab button{
background: transparent;
border: none;
font-size: 20px;
color: var(--neon);
font-weight: 500;
}
.vertical-tab.active .main-btn{
  color: var(--white);
}
.tabs-butns:after {
  content: " ";
  position: absolute;
  background: #615e5e;
  width: 2px;
  height: 97%;
  top: 0;
  right: 0px;
  border-radius: 10px;
}

.cu-form.profile-form {
  max-width: unset;
  flex-direction: column;
}
.tab-side-content{
  padding-left: 30px;
}

.prof-ip-butn {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cu-form.profile-form input{
  padding: 0.9rem 0.75rem;
  min-width: 670px;
}
.ipfield-main {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.wn-body .cu-form.profile-form .btn-fill {
  border-radius: 25px;
  padding: 5px 20px;
  min-width: 115px;
  font-weight: 500;
  font-size: 14px;
}
/* ===============NOTIFICATIONS=============== */
.monitor-btn{
  gap: 20px;
  border: none;
}
.monitor-btn .nav-item button{
  background-color: var(--black);
  color: var(--white);  
  font-size: 18px;
  font-weight: 500;
  min-width: 217px;
  padding: 15px 10px;
  border-radius: 10px;
}


.monitor-btn  .nav-link:hover, .monitor-btn .nav-link:focus,.monitor-btn .nav-link:target {
  border: 1px solid var(--black);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  background: var(--black);
  color: var(--neon);
  border: 1px solid var(--black);
  font-weight: 600;
}
.notification-tbl {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  transition: .5s;
  overflow:hidden;
  margin-top: 40px;
  padding: 20px 45px 15px 23px;
  border: 1px solid var(--neon);
}

.tbl {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: unset;
  width: 100%;
  gap: 20px;
}
.tbl > .tbl-row {
  border-radius: 10px;
  display: flex;
}
.tbl-row.tb-head{
  padding: 0 20px;
}
.tbl-row.tb-body-r{
  background-color: #37343775;
  padding: 20px;
}
.tbl-cell {
  flex: 1;
  font-size: 20px;
}

.tb-head .tbl-cell{
font-weight: 600;
}
.tbl-cell.blank {
  max-width: 40px;
  border: 1px solid white;
  /* display: flex; */
  /* align-items: center; */
  transform: translate(-30px, 0px);
  /* justify-content: center; */
  background-color: #ffffff20;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.tb-head .blank {
  visibility: hidden;
}
.tbl > :not(caption) > * > * {
  padding:unset;
  color:white;
  background-color: unset;
}



/*.table{
  border: none;
}
.table th{
  background: transparent;
  border-bottom-width:0;
  color: white;
  font-size: 20px;
}
 .table td{
  font-size: 20px;
  color: white;
  padding: 20px;
}
.table td span{
  background-color: unset;
  color: white;
  padding: unset;
}
.table-striped > tbody > tr> * {
  --bs-table-color-type: unset;
  --bs-table-bg-type: unset;
}
.table > :not(caption) > * > *{
  background-color: unset;
}
.notification-table .table-striped>tbody>tr>td{
  background-color:#37343775 !important;
}
.notification-table tr>:last-child {
  border-radius: 0 10px 10px 0;
}
.notification-table tr>:first-child {
  border-radius:  10px 0 0 10px ;
}
.notification-table .table>:not(caption)>*>* {
  border-bottom: none;
}
.notification-table .table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-color-type: unset;
  --bs-table-bg-type: unset;
}
.notification-table tbody > tr {
  margin-bottom: 5px;
} */











/* ===============WALLET CONTENTS=============== */
.cu-form.search-form{
  gap: 30px;
  max-width: 630px;
}
.cu-form.search-form input, 
.cu-form.search-form select {
  background: var(--black);
  padding: 1.1rem 1.5rem;
  border: 2px solid #07F6D1;
  border-radius: 50px;
}
/* .wn-body .cu-form select{
  background: url('/public/chevron-down.svg') no-repeat right center;
} */
.cu-form.search-form input::placeholder{
  color: #afa9a9;
}
